.blanco{
    width: 50px;
    height: 50px;
    background-color: white;
    text-align: center;
    font-size: 150%;
    transition: font-size 2s;
    }
.negro{
    width: 50px;
    height: 50px;
    background-color: grey;
    text-align: center;
    font-size: 150%;
    transition: font-size 2s;
}
table{
    border: 3px black solid;
}
.negro:hover,.blanco:hover{
    font-size: 200%;
}
